img.van-img {
    width: 50%;
    border-radius: 40%;
}


div.van-detail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* @media (min-width: 900px) {
    div.van-detail-container {
        flex-direction: row;
        align-items: flex-start;
    }
} */

div.van-description-container {
    display: flex;
  
}

div.map-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 33px;
    overflow: hidden;
    height: 400px;
    width: 100%;
  
}