
div.vans-container {
    border: 1px solid black;
    width: 100%;
    max-width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.van-info-container {

    border: 1px dashed green;
    width: 100%;
    max-width: 340px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

