header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.body-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
}

img.van-img {
	width: 100%;
	max-width: 340px;
}

img.banner-img {
	width: 100%;
}

a.link-to-vans {
	text-decoration: none;
	color: #161616;
	border: 1px solid green;
	padding: 1em 2em;
	border-radius: 16px;
	max-width: 320px;
}
